.header {
    background: #002338;
    padding: 15px 0px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;


    &__logo {
        color: #aaa;
        font-weight: 900;
        font-size: 1.1 rem;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__title {
        color: #fff;
        font-weight: 300;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;

        button {
            margin-left: 10px;
        }
    }

    &__badge {
        width: 20px;
        height: 20px;
        border: 1px solid white;
        background: #005bd1;
        color: white;
        display: flex;
        position: absolute;
        top: 3px;
        right: 2px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    &__cart {
        position: relative;
        display: inline-block;
    }
}